altgraph==0.17.4
Brotli==1.1.0
certifi==2024.8.30
charset-normalizer==3.4.0
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
macholib==1.16.3
mutagen==1.47.0
Nuitka==2.4.11
ordered-set==4.1.0
packaging==24.1
pillow==11.0.0
pycryptodomex==3.21.0
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PyQt5==5.15.10
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
requests==2.32.3
setuptools==75.2.0
ttkbootstrap==1.10.1
urllib3==2.2.3
websockets==13.1
yt-dlp==2024.10.22
zstandard==0.23.0
